* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    font-family: 'Pretendard', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    width: 100%;
}

header {
    height: 80px;
    background: #f4f4f4;
}

footer {
    height: 80px;
    background: #f4f4f4;
}

main {
    min-height: calc(
        100dvh - 160px
    ); /* header+footer 높이 */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
